node_modules/
.env
.dart_tool/
build/
.firebase/
*.log
*.iml
.idea/
.vscode/
.DS_Store

mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/bus-scolaire-connect-test.jks
mobile/android/app/google-services.json
mobile/*.png

backend/config/firebase-service-account*.json
backend/public/download/*.apk
!backend/public/download/bus-scolaire-connect.apk
